<app-nav></app-nav>
<div class="container ">
    <div>
        <h2  class="form-head" >BECOME A RESORT HOSTER</h2>
        <H3 class="step-sec" >STEP 1</H3>
    </div>
    <div class="row justify-content-center  form-div ">
      <div class="col-lg-6 ">
        <form  [formGroup]="resortForm"  class="example-form"  (ngSubmit)="OnSubmit()" >
          <div class="mt-3">
            <mat-form-field appearance="outline" class="me-5" >
              <mat-label>Hoster Name</mat-label>
              <input   style="width: 200px;"  matInput  formControlName="hosterName" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Resort Name</mat-label>
                <input matInput class="w-100" formControlName="resortName" >
              </mat-form-field>
          </div>
    
         
    
          <div class="">
            <mat-form-field appearance="outline"  class="me-5">
              <mat-label>Address</mat-label>
              <input matInput class="w-100" formControlName="address"  >
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput class="w-100" formControlName="mobile" >
              </mat-form-field>
          </div>
    
    
          <div >
            <mat-form-field appearance="outline" class="me-5">
              <mat-label>Location</mat-label>
              <input matInput class="w-100"   formControlName="location" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Occupency(rooms)</mat-label>
                <input matInput class="w-100" type="number" formControlName="occupency" >
              </mat-form-field>

        
           
          </div>
    
          <div class="mb-3">
            <mat-form-field appearance="outline"   class="me-5" >
              <mat-label>Resort Type</mat-label>
              <mat-select class="w-100"  formControlName="type" >
                <mat-option value="beach">Beach Resort</mat-option>
                <mat-option value="mountain">Mountain Resort</mat-option>
                <mat-option value="spa">Spa Resort</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline"  >
                <mat-label>Email</mat-label>
                <input matInput class="w-100" type="email" formControlName="email" >
                
              </mat-form-field>
              
          </div>
    
          <p><input type="checkbox">Allow all terms and conditions of our service.</p>
    
          <div class="text-center mb-4" style="display: flex; " >
            
            <button  [disabled]="resortForm.invalid" style="width: 210px;" mat-raised-button color="primary">Submit</button>
          </div>
        
          <p>
            click here to submit your data to admin , after that admin will send approval message to your email</p>
        </form>
      </div>
    </div>
  </div>
  