<div class="wrapper">
    <app-nav  (sideBarToggled)="handleSidebarToggle($event)"  ></app-nav>

    <div class="container motion-slow" >
        <div class="container mt-5">
            <div class="profile-card text-center">
                <img src="https://via.placeholder.com/150" alt="Profile Image" class="profile-image">
                <h2> {{data.name}} </h2>
                <p> <strong>Email :</strong>{{data.email}} </p>
                <p> <strong>Mobile :</strong> {{data.mobile}} </p>
               <p> <strong>Join Date :</strong>  {{data.Date | date}}  </p>
                <a href="#" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
 </div>
