<app-nav class="sticky-top" ></app-nav>

<div  #chatContainer class="container bootstrap snippets bootdey pb-5">
    <div >
      
        
        <div class="ms-body  ">
            <button  (click)="scrollToBottom()" >Down</button>
    <div *ngFor="let msg of chatdata" >
        <div  *ngIf="msg.fromId!=userId" class="message-feed media">
            <div class="pull-left">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-avatar">
            </div>
            <div class="media-body">
                <div class="mf-content">
                    {{msg.message}}
                </div>
                <small class="mf-date"><i class="fa fa-clock-o"></i> {{msg.createdAt | dateDistance}} </small>
            </div>
        </div>
        
        <div *ngIf="msg.fromId==userId" class="message-feed right">
            <div class="pull-right">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar">
            </div>
            <div class="media-body">
                <div class="mf-content">
                   {{msg.message}}
                </div>
                <small class="mf-date"><i class="fa fa-clock-o"></i> {{msg.createdAt | dateDistance}}</small>
            </div>
        </div>
    </div>
           
            
           
            
            
            
          
            
            <div class="msb-reply">
               <form [formGroup]="FormData" (ngSubmit)="submit()" >
                    <input type="text"   class="form-control"   formControlName="text"  placeholder="text anything...." >
                    <button  mat-raised-button [disabled]="FormData.invalid"  color="primary" ><mat-icon> near_me</mat-icon></button>
             
                </form>

            </div>
        </div>
    </div>
</div>