
<app-nav></app-nav>
<!-- resetting section -->
<section *ngIf="showNewPass"  >
    


<div class="container mt-5">

    <div class="form-div" >
        <h2>Bootstrap Form with Two Inputs</h2>

        <form  [formGroup]="NewPassForm"  (ngSubmit)="updatePassword()" >
            <mat-form-field   class="example-full-width align-center">
                <mat-label>New Password</mat-label>
                <input matInput  formControlName="Newpassword"  type="password" >
              </mat-form-field>
              <mat-form-field   class="example-full-width align-center">
                <mat-label>Confirm Password</mat-label>
                <input matInput  formControlName="Confirmpassword"  type="password" >
              </mat-form-field>
            <div style="display: flex; justify-content: center;" class="mt-2" >
                <button type="submit" mat-raised-button color="primary" >Submit</button>
            
            </div>
          
            
        </form>

    </div>
   
</div>
</section>


<!-- current password checking.. -->

<section  *ngIf="!showNewPass" >


    <div class="container mt-5">

        <div class="form-div" >
            <h2>Verify Your Password</h2>
    
            <form [formGroup]="CurrPassForm"  (ngSubmit)="currpassCheck()" >
                <p style="text-align: center;" >enter your current password to conform</p>
                <mat-form-field   class="example-full-width align-center">
                    <mat-label>Current Password</mat-label>
                    <input matInput   formControlName="currentpassword" type="password" >
                  </mat-form-field>
<div style="display: flex; justify-content: center;" class="mt-2" >
    <button type="submit" mat-raised-button color="primary" >Submit</button>

</div>
            </form>
    
        </div>
       
    </div>



</section>