<app-nav></app-nav>

<section  *ngIf="dataStatus" >
    <div class="card mb-3 container" >
  <h2> {{category}} Resorts </h2>

      <div *ngFor="let item of (resorts | search: CopyText ) "   class="row g-3 mb-2">
        <div class="col-md-4" (click)="showDetails(item._id)" >
          <img height="350px" width="100%" src="http://localhost:4000/public/{{item.Banner_img}}" class="rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div style="display: flex; justify-content: end; " >
              <button mat-raised-button color="warn" (click)="addToWhishlist(item._id)" >Add to Vishlist   </button>
           </div>
            <h3 class="card-title"> {{item.resortName}} </h3>
            <h5> {{item.resort_type}}  resort</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <P><strong>RATING  </strong> 3.5/5</P>
            <button mat-raised-button  color="primary" (click)="showDetails(item._id)" >Visit</button>
            
          </div>
         
        </div>
      </div>
    </div>
    
  
  
  </section>

  <section *ngIf="!dataStatus" >

<div  style="margin-top: 10%; " >
<p style="text-align: center;" > {{msgs}} !! </p>

</div>
  </section>