<app-nav></app-nav>

<div class="container">
    <div class="container mt-4">
        <div class="row">
          <!-- Left Side: Form -->
         
          
          <!-- Right Side: List -->
          <div class="col-md-4">
            <ul class="list-group card">
              <h2 style="padding-left: 15px;" > RESORT DETAILS</h2>
              <li class="list-group-item"><span>ResortName</span>: <span> {{resortData.resortName}} </span> </li>
              <li class="list-group-item"><span>Room.No</span>: <span> {{roomData.roomNumber}} </span> </li>
              <li class="list-group-item"> <span>Price </span> : <span> {{roomData.pricePerNight}} </span> </li>
              <li class="list-group-item"> <span>Address </span> : <span> {{resortData.resortAdress}} </span> </li>
              <!-- Add more list items as needed -->
            </ul>
            <ul class="list-group card p-4">
                <h2  >PAYMENT DETAILS</h2>
               <p>To place your booking you have to pay 25% <span style="font-size: small;" > (including GST & bill charges)</span> of the payment . it  will be refundable full amount if you cancel booking if it meets our term and conditions</p>
               <li><strong> Payable Amout : ₹ {{ roomData.pricePerNight | divide:4 }}</strong>  </li>
               <li><strong>Grand Total : ₹ {{ roomData.pricePerNight + 5  | divide:4  }} </strong></li>
                <!-- Add more list items as needed -->
              </ul>
              <ul class="list-group card p-4">
                <h2  >PAYMENT DETAILS</h2>
               <li> <strong>Check In</strong> </li>
               <li> <strong>Check Out</strong> </li>
                <!-- Add more list items as needed -->
              </ul>
          </div>
          <div class="col-md-8">
            <form  [formGroup]="FormData"  (ngSubmit)="OnSubmit()" >
                <div class="row mb-1">
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example1">Name</label>
                        <input type="text" id="form6Example1" class="form-control" formControlName="name"    />
                     
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example2">Mobile</label>

                        <input type="number" id="form6Example2" class="form-control" formControlName="mobile"  />
                      </div>
                    </div>
                  </div>
              <div class="mb-3">
                <label for="input2" class="form-label"> Address </label>
                <input type="text" class="form-control"  formControlName="address"  id="input2"  >
              </div>
              <div class="mb-3">
                <label for="input2" class="form-label"> age  <span style="font-size: smaller;" >(must be 18+ )</span> </label>
                <input type="number" class="form-control"  formControlName="age" id="input2"  >
              </div>
              <div class="mb-3">
                <label for="input2" class="form-label"> email </label>
                <input type="email" class="form-control" formControlName="email" id="input2"  >
              </div>

              <div class="mb-3">
              
                <input type="checkbox" class="me-2 mt-1" formControlName="terms_conditions" id="input2"  >
                <label for="input2" class="form-label mb-1 "> Allow all the terms and conditions of the resort and the website </label>
                
              </div>

              <button type="submit" mat-raised-button color="primary" >Procced to pay</button>
            </form>
          </div>
        </div>
      </div>
      
</div>
