<app-nav></app-nav>


<style>
.card-contents{
    text-align: center;
   
    margin-top: 30px;

}
.caption{
    text-align: center;
    font-weight: bolder;
}

@media (min-width : 800px) {
  .card-contents{
  padding-left: 10%;
  padding-right: 10%;
    align-items: center;
  }
}







.container-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  color: white;
  border: 1px solid white;
  padding: 20px 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn span {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 100;
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.btn::before {
  transform: translate3d(-100%, 0, 0);
  background-color: white;
  border: 1px solid white;
  transition: transform 300ms cubic-bezier(.16,.73,.58,.62);
}

.btn::after {
  background-color: #ffd1d8;
  border: 1px solid #ffd1d8;
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms 300ms cubic-bezier(.16,.73,.58,.62);
}

.btn:hover::before,
.btn:hover::after {
  transform: translate3d(0,0,0);
}

@media (max-width: 768px) {
  .btn {
      padding: 2px 10px; 
     margin-top: 5px;
    
  }
  .container-button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

</style>

<section   class="banner_img col " >

  <div class="card bg-dark text-white">
    <img src="https://images.unsplash.com/photo-1618396755206-ff25b5737b8a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80" class="card-img" alt="...">
    <div class="card-img-overlay text-center">
      <h1 class="card-titles"><strong>Seaside Serenity <br>  Awaits: Explore Our Coastal Haven</strong></h1>
      <p class="card-text  card-contents">Discover an oasis of relaxation, adventure, and luxury at [Resort Name]. Nestled in the heart of [Location], our resort offers a one-of-a-kind escape from the ordinary. Whether you're seeking a romantic getaway, a family vacation, or a memorable event venue, we have everything you need to make your stay truly exceptional.</p>
	  <div class="container-button">
		<div  (click)="scrollBy100px()"  class="btn me-2">
			<span>Explore  now</span>
		</div>
		<div class="btn">
			<span>Contact now</span>
		</div>
	</div>
    </div>
  </div>

</section>



<section class="container search-bar" >
  <mat-form-field appearance="outline" class="example-full-width" width="100%">
    <mat-label>search</mat-label>
    <input [(ngModel)]="CopyText"  matInput >
   
  </mat-form-field>
  <button mat-raised-button color="primary" style="height: 55px; margin-bottom: 25px;" >Search</button>
  
 
  
</section>





<section>

  <div class="card mb-3 container " >
    <div *ngFor="let item of (resorts | search: CopyText ) "   class="row g-3 mb-2">
      <div class="col-md-4" (click)="showDetails(item._id)" >
        <img height="350px" width="100%" src="https://ecovibe.online/public/{{item.Banner_img}}" class="rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div style="display: flex; justify-content: end; " >
            <button mat-raised-button color="warn" (click)="addToWhishlist(item._id)" >Add to Wishlist   </button>
         </div>
          <h3 class="card-title"> {{item.resortName}} </h3>
          <h5> {{item.resort_type}}  resort</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <P><strong>RATING  </strong> 3.5/5</P>
          <button mat-raised-button  color="primary" (click)="showDetails(item._id)" >Visit</button>
          
        </div>
       
      </div>
    </div>
  </div>
  


</section>


<!-- second section -->

<section class="container main-body" >

  <div>
  
  <h1>Resort Types</h1>
  
  </div>
  
  
  
  
    <div class="container">
	<div class="row">
		<div  (click)="categoryView('beach')" class="col">
			<div class="weather-card one">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">Beach Resorts</h1>
						<h3 class="location">Typical Beach resorts</h3>
						<p class="temp">
							<span class="temp-value">20</span>
							<span class="deg">Resorts</span>
						
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
							<li class="active">
								<span class="date">A beach resort is a type of vacation destination typically located along the coastlines of oceans, seas, or even lakes.</span>
								<span class="lnr lnr-sun condition">
									<span class="temp">23<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div (click)="categoryView('spa')" class="col">
			<div class="weather-card rain">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">SPA Resorts</h1>
						<h3 class="location">Most people choosing Resort</h3>
						<p class="temp">
							<span class="temp-value">37</span>
							<span class="deg">Resorts</span>
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
							<li class="active">
								<span class="date">Spa resorts are specialized vacation destinations that focus on health, relaxation, and rejuvenation through a variety of spa and wellness services</span>
							
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row">
		<div  (click)="categoryView('mountain')" class="col">
			<div class="weather-card one">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">Moutain Resorts</h1>
						<h3 class="location">Enjoy your in highest destination</h3>
						<p class="temp">
							<span class="temp-value">  20</span>
							<span class="deg">Resorts</span>
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
							<li class="active">
								<span class="date">Enjoy your Vacation with moutain arease hunding and water falls and also private water walls are available</span>
								<span class="lnr lnr-sun condition">
									<span class="temp">23<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div (click)="categoryView('greenary')"  class="col">
			<div class="weather-card rain">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">Greenary Resorts</h1>
						<h3 class="location">Enjoy your vecation with nature</h3>
						<p class="temp">
							<span class="temp-value">16</span>
							<span class="deg">Resorts</span>
						
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
							<li class="active">
								<span class="date">greenary tourist areas in south india like kerala , tamilnadu and lakshadeeps , must visit places </span>
								<span class="lnr lnr-sun condition">
								</span>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  
  
  
  
  </section>

  <app-footer></app-footer>