<div class="wrapper">
    <app-nav></app-nav>
<div class="container" >

    <div class="container bootstrap snippets bootdey">
    <div >
      
        
        <div class="ms-body">
            <div class="action-header clearfix">
                <div class="visible-xs" id="ms-menu-trigger">
                    <i class="fa fa-bars"></i>
                </div>
                
                <div class="bar-item-row">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar m-r-10 me-3">
                   
                    <span class="user-name">David Parbell</span>
                  </div>
                  
                 
                <ul class="ah-actions actions">
                    <li>
                        <a href="">
                            <i class="fa fa-trash"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-check"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-clock-o"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-sort"></i>
                        </a>
            
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Latest</a>
                            </li>
                            <li>
                                <a href="">Oldest</a>
                            </li>
                        </ul>
                    </li>                             
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-bars"></i>
                        </a>
            
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Message Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
    <div *ngFor="let item of chatdata"  >
        <div  *ngIf="item.fromId!=adminId"  class="message-feed media">
            <div class="pull-left">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-avatar">
            </div>
            <div class="media-body">
                <div class="mf-content">
                {{item.message}}
                </div>
                <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 09:00</small>
            </div>
        </div>
        
        <div  *ngIf="item.fromId==adminId"  class="message-feed right">
            <div class="pull-right">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar">
            </div>
            <div class="media-body">
                <div class="mf-content">
                {{item.message}}
                </div>
                <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 09:30</small>
            </div>
        </div>
    </div>
           
            
           
            
            
            
          
            
            <div class="msb-reply">
               <form [formGroup]="FormData" (ngSubmit)="submit()" >
                    <input type="text"  class="form-control" formControlName="text"  placeholder="text anything...." >
                    <button  mat-raised-button [disabled]="FormData.invalid"  color="primary" ><mat-icon> near_me</mat-icon></button>
              
                </form>

            </div>
        </div>
    </div>
</div>

</div>


