<app-nav></app-nav>


<div class="container">
    <h1>Notifications</h1>
    <div class="container-fluid">
        <div class="row">
          <div *ngFor="let item of data"  class="col-12">
            <div class="card full-width-card">
              <div class="card-body">
                <h5 class="card-title">Notification update</h5>
                <p class="card-text">
               {{item.text}} 
                </p>
                <button *ngIf="item.redirection==='/subscription'"  mat-raised-button  color="primary" routerLink= {{item.redirection}} >purchace</button>
                <div  style="display: flex; justify-content: end;" >
                    <span> {{item.date | dateDistance}} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
  
