<app-nav></app-nav>


<div class="container">
    <h1>Notifications</h1>
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card full-width-card">
              <div class="card-body">
                <h5 class="card-title">Full-Width Text Card</h5>
                <p class="card-text">
                  This is an example of a full-width text card using Bootstrap. It stretches across the entire viewport width.
                </p>
                <div  style="display: flex; justify-content: end;" >
                    <span>2min ago</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
  
