<div class="wrapper">
    <app-side-bar (sidebarToggled)="sidebarToggled($event)"  ></app-side-bar>
    <div class="container-fluid motion-slow "   [style.paddingLeft.px]="values ? 50 : 200" > 
        <h1>Users Management</h1>
        <table class="table ">
            <thead>
              <tr  >
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Phone</th>
                <th scope="col">join.Date</th>
                <th scope="col">Block</th>
              
               
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of users$;let i = index" >
                <th scope="row">{{i+1}}</th>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.is_verified}}</td>
              </tr>
             
            </tbody>
          </table>
        
    </div>
</div>