<app-nav></app-nav>


<div *ngIf="shouldShowEdit()!==true" class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img [src]="src" alt=""/>
                   
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h4>
                            {{userData.name}}
                            </h4>
                           
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"  id="home-tab" data-toggle="tab" (click)="switchTab('about')" [ngClass]="{ 'active': activeTab === 'about' }" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab"(click)="switchTab('timeline')" [ngClass]="{ 'active': activeTab === 'timeline' }" role="tab" aria-controls="profile" aria-selected="false">whishlist</a>
                        </li>
                    </ul>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                   
                   
                    <p>Booking Info</p>
                    <a class="btn btn-success btn-side">Booking History</a><br/>
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div  *ngIf="activeTab === 'about'" class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{userData.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> {{userData.email}} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> {{userData.mobile}} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>is_verified</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> {{userData.is_verified}} </p>
                                    </div>
                                </div>
                            
                    </div>
                  
                    <div *ngIf="activeTab === 'timeline'" id="profile" >
                       
                        <div *ngFor="let item of wishlistData  "   class="row g-3 mb-2">
                            <div class="col-md-4"  >
                              <img height="350px" width="100%" src="http://localhost:4000/public/{{item.resortId.Banner_img}}" class="rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <div style="display: flex; justify-content: end; " >
                                  <button mat-raised-button color="warn" (click)="RemoveFromWish(item.resortId._id)"   >Remove from wishlist   </button>
                               </div>
                                <h3 class="card-title"> {{item.resortId.resortName}} </h3>
                                <h5> {{item.resortId.resort_type}}  resort</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <P><strong>RATING  </strong> 3.5/5</P>
                                <button mat-raised-button  color="primary"  (click)="singleView('item.resortId._id')"  >Visit</button>
                                
                              </div>
                             
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-save-btn col-md-2 ">
            <button class="btn btn-success" *ngIf="activeTab === 'about'"  routerLink="/profile/edit" > edit</button>
     
        </div>
    </form>  
  
</div>





<!-- edit profile -->




<div *ngIf="shouldShowEdit()" class="container emp-profile">
    <form >
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                  

                   <div>
    <ng-container *ngIf="selectedImage; else defaultImage">
        <img [src]="selectedImage" alt="Selected Profile Photo" />
    </ng-container>
    <ng-template #defaultImage>
        <img id="img_tag" [src]="src" alt="Default Profile Photo" />
    </ng-template>
</div>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input id="user-img" type="file"  (change)="onFileSelected($event)" name="file"/>
                    </div>
                </div>
            </div>
           
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{userData.name}}
                            </h5>
                           
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"  id="home-tab"  role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                      
                    </ul>
                  
                </div>
                
            </div>
           
           
          
        </div>
        <div class="row">
            <div class="col-md-4">
              
            </div>
            
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div  class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                               <form  [formGroup]="FormData"  >
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input   formControlName="name" type="text" value="{{userData.name}}" ></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input formControlName="email" type="text" value="{{userData.email}}" ></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input   formControlName="mobile" type="text" value="{{userData.mobile}}" ></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>age</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input   formControlName="age" type="text"  placeholder="age not set yet" ></p>
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input type="text" value="Web Developer and Designer" ></p>
                                    </div>
                                </div>
                            </form>
                    </div>
                   
                    
                </div>
            </div>
        </div>
        <div class="edit-save-btn col-md-2">
            <a class="btn btn-success me-2" routerLink="/profile">Back</a>
            <input  (click)="editSubmit()" type="submit" class="btn btn-success" name="btnAddMore" value="Save"/>
           
        </div>
    </form>           
</div>

