

<nav style="z-index: 2; "  class="navbar navbar-dark bg-dark sticky-top ">
    <div class="container-fluid">
     
      <button (click)="toggleSidebar()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a  href="superAdmin" class="btn btn-light">Logout</a>

    </div>
  </nav>
<nav style="z-index: 1;" class="bg-dark " id="sidebar" [@sidebarState]="sidebarCollapsed ? 'collapsed' : 'expanded'">
   
   
    <ul class="list-unstyled components">
        <li class=" pt-2 " >
            <a class="text-larger  " routerLink="/superAdmin/dashboard">Dashboard</a>
        </li>
        <li class="pt-2" >
            <a  class="text-larger" routerLink="/superAdmin/users" >Users</a>
        </li>
        <li  class="pt-2" >
            <a   class="text-larger" routerLink="/superAdmin/resorts" >Resorts</a>
        </li>

        <li   class="pt-2" >
          <a class="text-larger" routerLink="/superAdmin/requests" >Requests</a>
      </li>
        
          <li  class="pt-2" >
            <a class="text-larger" routerLink="/superAdmin/subscription" >Subscriptions</a>
        </li>

        <li  class="pt-2" >
          <a class="text-larger" >Logout</a>
      </li>
       
       
    </ul>
</nav>




