

<nav style="z-index: 2;"  class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
     
      <button  (click)="toggleSidebar()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a  routerLink="admin/bookings" class="btn btn-light">Logout</a>

    </div>
  </nav>
<nav style="z-index: 1;" class="bg-dark " id="sidebar" [@sidebarState]="sidebarCollapsed ? 'collapsed' : 'expanded'">
   
   
    <ul class="list-unstyled components">
        <li class=" pt-2 " >
            <a class="text-larger  " routerLink="/dashboard">dashboard</a>
        </li>
        <li class="pt-2" >
            <a  class="text-larger" routerLink="/About" >About</a>
        </li>
        <li  class="pt-2" >
            <a   class="text-larger" routerLink="/images" >Gallery</a>
        </li>

        <li   class="pt-2" >
          <a class="text-larger" >facilities</a>
      </li>
        
          <li  class="pt-2" >
            <a class="text-larger" >Bookings</a>
        </li>

        <li  class="pt-2" >
          <a class="text-larger" >Logout</a>
      </li>
       
       
    </ul>
</nav>




