<div class="wrapper">
   <app-nav></app-nav>
   <div class="container mb-3" >

      
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
      <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
      <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
      <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      
      <div class="grey-bg container-fluid">
        <section id="minimal-statistics">
          <div class="row">
            <div class="col-12 mt-3 mb-1">
              <h4 class="text-uppercase">Minimal Statistics Cards</h4>
              <p>Statistics on minimal cards.</p>
            </div>
          </div>
          <div class="row">
            
            
           
          </div>
        
          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <i class="icon-graph success font-large-2 float-left"></i>
                      </div>
                      <div class="media-body text-right">
                        <h3> <span><strong>4.1</strong></span> /5</h3>
                        <span>AVG Rating </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <i class="icon-pointer danger font-large-2 float-left"></i>
                      </div>
                      <div class="media-body text-right">
                        <h3> {{resort}} </h3>
                        <span>Location</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <i class="icon-speech warning font-large-2 float-left"></i>
                      </div>
                      <div class="media-body text-right">
                        <h3>{{totalBookings}} </h3>
                        <span>Total Bookings</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success">2</h3>
                        <span>Visited Clients</span>
                      </div>
                      <div class="align-self-center">
                        <i class="icon-user success font-large-2 float-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="warning"> {{resortData.subcription_End | date }} </h3>
                        <span>SubscriptionEnd</span>
                      </div>
                      <div class="align-self-center">
                        <i class="icon-pie-chart warning font-large-2 float-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="primary">423</h3>
                        <span>Support Tickets</span>
                      </div>
                      <div class="align-self-center">
                        <i class="icon-support primary font-large-2 float-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="primary"> {{totalPictures}} </h3>
                        <span>Gallery pictures</span>
                      </div>
                      <div class="align-self-center">
                        <i class="icon-book-open primary font-large-2 float-right"></i>
                      </div>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="warning"> {{totalreviews}} </h3>
                        <span>Reviews</span>
                      </div>
                      <div class="align-self-center">
                        <i class=" icon-direction danger font-large-2 float-right"></i>
                      </div>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        
       
        </section>
        
        <section id="stats-subtitle">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Statistics With Subtitle</h4>
            <p>Statistics on minimal cards with Title &amp; Sub Title.</p>
          </div>
        </div>
      
        <div class="row">
          <div class="col-xl-6 col-md-12">
            <div class="card overflow-hidden">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-pencil primary font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>FAQ</h4>
                      <span>quesions asked by users</span>
                    </div>
                    <div class="align-self-center">
                      <h1>18,000</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-bubbles warning font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Chats </h4>
                      <span>connections with users</span>
                    </div>
                    <div class="align-self-center"> 
                      <h1>0</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <h1 class="mr-2">4 Likes</h1>
                    </div>
                    <div class="media-body">
                      <h4>Total whishes</h4>
                      <span>Total likes by users</span>
                    </div>
                    <div class="align-self-center">
                      <i class="icon-heart danger font-large-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <h1 class="mr-2">₹{{totalSaleAmount}} </h1>
                    </div>
                    <div class="media-body">
                      <h4>Total salesAmount</h4>
                      <span>Yearly Amount</span>
                    </div>
                    <div class="align-self-center">
                      <i class="icon-wallet success font-large-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>



      <!-- charts -->

      <div  class="row  "  >

        <div class="col-md-6 borderline">
          
          <canvas id="myChart" width="400" height="200"></canvas>
        
        </div>
      
        <div  class="col-md-6  borderline" >
         
        
          <canvas id="myChart2" width="400" height="200"></canvas>
        </div>
       
      

      </div>
   </div>
</div>




