

  <nav style="z-index: 2;"  class="navbar navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
     
      <button  (click)="toggleSidebar()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a  routerLink="admin/logout" class="btn btn-light">Logout</a>

    </div>
  </nav>
<nav   style="z-index: 1;" class="bg-primary " id="sidebar" [@sidebarState]="sidebarCollapsed ? 'collapsed' : 'expanded'">
   
   
    <ul class="list-unstyled components">
        <li class=" pt-2 " >
            <a class="text-larger  " routerLink="/admin/dashboard">dashboard</a>
        </li>

        <li class="pt-2">
          <a  routerLink="/admin/profile" class="text-larger">Profile</a>
        </li>

        <li class="pt-2" >
            <a   class="text-larger" routerLink="/admin/about" >About</a>
        </li>
        <li  class="pt-2" >
            <a  class="text-larger" routerLink="/admin/gallery" >Gallery</a>
        </li>
      

        <li  (click)="facilities()" class="pt-2" >
          <a class="text-larger" routerLink="/admin/facilities" >facilities</a>
      </li>
      <li class="pt-2" >
        <a class="text-larger" routerLink="/admin/rooms" >Rooms</a>
    </li>
        
          <li  class="pt-2" >
            <a routerLink="/admin/bookings" class="text-larger" >Bookings</a>
        </li>

        <li  class="pt-2" >
          <a (click)="logout()" class="text-larger" >Logout</a>
      </li>
       
       
    </ul>
</nav>



