

  <nav style="z-index: 2;"  class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
     
      <button  (click)="toggleSidebar()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a  class="btn btn-success" routerLink="/admin/profile" >Profile</a>
      <a  routerLink="admin/bookings" class="btn btn-light">Logout</a>

    </div>
  </nav>
<nav style="z-index: 1;" class="bg-primary " id="sidebar" [@sidebarState]="sidebarCollapsed ? 'collapsed' : 'expanded'">
   
   
    <ul class="list-unstyled components">
        <li class=" pt-2 " >
            <a class="text-larger  " routerLink="/admin/dashboard">dashboard</a>
        </li>
        <li class="pt-2" >
            <a   class="text-larger" routerLink="/admin/About" >About</a>
        </li>
        <li  class="pt-2" >
            <a  class="text-larger" routerLink="/admin/images" >Gallery</a>
        </li>

        <li  (click)="facilities()" class="pt-2" >
          <a class="text-larger" routerLink="/admin/facilities" >facilities</a>
      </li>
        
          <li  class="pt-2" >
            <a routerLink="/admin/bookings" class="text-larger" >Bookings</a>
        </li>

        <li  class="pt-2" >
          <a (click)="logout()" class="text-larger" >Logout</a>
      </li>
       
       
    </ul>
</nav>



