nav{
    padding: 3%;
     background-color: rgb(72, 72, 205);
   
 }
 
 nav a{
     color: aliceblue;
     font-size: large;
 }
 
 .navbar-toggler-icon{
     height: 2px;
     margin-bottom: 10px;
     
 } 
 .toggle-button{
   
     display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: -8px;
 }
 .logout{
     margin-left: 5px ;
 }
 .navbar-toggler{
   
    border: 3px solid rgb(61, 61, 215);
    border-radius: 7px;
 }

 .profile-img{
    margin: 2%;
    border-radius: 20px;
 }




    /* Custom CSS */
    .dropdown-menu a.dropdown-item {
      color: black; /* Change this to your desired text color */
    }
