<section>
    <div class="container pt-2">
        <div  style="height: 30% ;" class="card bg-dark text-white mb-3">
            <img   src="http://localhost:4000/public/{{data.Banner_img}}" class="card-img" alt="..."  >
            <div class="card-img-overlay">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text">Last updated 3 mins ago</p>
            </div>
          </div>
    


<!-- oo -->

<div   class="row row-cols-1 row-cols-md-3 g-4">
    <div  *ngFor="let img of showImg; let i=index" class="col">
      <div class="card h-100">
        <img height="300px"  src="http://localhost:4000/public/{{img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">image {{i+1}}</h5>

        </div>
      </div>
    </div>
    
    
   
    
  </div>

<!-- oo -->

      
    </div>
</section>



<!-- room selecting  section in resort -->
<!-- checking  lenght here -->
<section *ngIf="rooms.length!==0" >  
    <h1 class="text-center">Resort Booking</h1>

    <div class="container mt-5">
      
       
            
         <input class="date-input" type="date">    <input class="date-input" type="date">
         <div class="input-group-append" style="padding-left: 10px;" >
            <button disabled  class="btn btn-outline-secondary" >Adults : {{adults}} </button>
           <button class="btn btn-outline-secondary" type="button" (click)="increaseAdults()">+</button>
           <button class="btn btn-outline-secondary" type="button" (click)="decreaseAdults()">-</button>
         </div>
       
      
       
         <div class="input-group-append " style="padding-left: 10px;">
           <button disabled  class="btn btn-outline-secondary" >children :  {{children}} </button>
           <button class="btn btn-outline-secondary" type="button" (click)="increaseChildren()">+</button>
           <button class="btn btn-outline-secondary" type="button" (click)="decreaseChildren()">-</button>
         </div>
       
         <button mat-raised-button  color>search availablity</button>
      
        <table  class="table table-bordered mt-2">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Room Type</th>
                    <th>Price Per Night</th>
                    <th>Amenities</th>
                  
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rooms">
                    <td>{{ item.roomNumber }}</td>
                    <td>{{ item.roomType }}</td>
                    <td>$ {{ item.pricePerNight }}</td>
                    <td>{{ item.amenities }}</td>
                  </tr>
              
            </tbody>
        </table>
<div  style="display: flex; justify-items: center;" >
    <button type="submit" class="btn btn-primary">Book Now</button>
</div>
     
    </div>


</section>
