.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.main-image {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.side-images {
    width: 30%;
    height: 50%;
    object-fit: cover;
}

img{
    border-radius: 5px;
    box-shadow: grey;
}

.banner-div{
    width: 100%;
     padding: 10px 100px 10px 100px; 
}

.date-input{
    width: 200px;
    height: 40px;
}








   
  
  
  
   
  


  
  .content{
    width: 520px;
    margin-top: 10px;
}

.ratings{

    background-color:#fff;
        padding: 54px;
        border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0px 10px 10px #E0E0E0;
}

.product-rating{

    font-size: 50px;
}

.stars i{

    font-size: 18px;
    color: #28a745;
}

.rating-text{
    margin-top: 10px;
}

.review-div{
    display: flex;
    justify-content: space-between;
} 