<section>
    <div class="container pt-2">
       <div class="banner-div"  >
        <img src="https://via.placeholder.com/640x360" alt="" class="w-100">

       </div>
        <div class="row">
            <div class="col-md-3 mb-1 p-0 m-0"> <!-- Reduced margin to mb-1 -->
                <div class="show-img">
                    <img src="https://via.placeholder.com/640x360" alt="" class="w-100" height="245"> <!-- Reduced margin to mb-1 -->
                </div>
            </div>
            <div class="col-md-3 mb-1 p-0 m-0"> <!-- Reduced margin to mb-1 -->
                <div class="show-img">
                    <img src="https://via.placeholder.com/640x360" alt="" class="w-100" height="245"> <!-- Reduced margin to mb-1 -->
                </div>
            </div>
            <div class="col-md-3 mb-1 p-0 m-0"> <!-- Reduced margin to mb-1 -->
                <div class="show-img">
                    <img src="https://via.placeholder.com/640x360" alt="" class="w-100" height="245"> <!-- Reduced margin to mb-1 -->
                </div>
            </div>
            <div class="col-md-3 mb-1 p-0 m-0 "> <!-- Reduced margin to mb-1 -->
                <div class="show-img">
                    <img src="https://via.placeholder.com/640x360" alt="" class="w-100" height="245"> <!-- Reduced margin to mb-1 -->
                </div>
            </div>
        </div>
    </div>
</section>
