<div class="wrapper">
    <app-nav  (sideBarToggled)="handleSidebarToggle($event)" ></app-nav>
    <div class="container motion-slow"   [style.paddingLeft.px]="action ? 0 : 200"  >
      <p>Banner image</p>
        <div class="card bg-dark text-white mb-3">
            <img  [src]="selectedImage ? selectedImage : dummyImage" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text">Last updated 3 mins ago</p>
            </div>
          </div>
        
          
         <div>

            <!-- dummy card -->
            <p>images to show in user side</p>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img  [src]="selectedImage ? selectedImage : dummyImage" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img  [src]="selectedImage ? selectedImage : dummyImage" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a short card.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                      <img  [src]="selectedImage ? selectedImage : dummyImage" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a short card.</p>
                      </div>
                    </div>
                  </div>
                <div class="col">
                  <div class="card h-100">
                    <img  [src]="selectedImage ? selectedImage : dummyImage" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img  [src]="selectedImage ? selectedImage : dummyImage" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>

            <!-- dummy card end -->



           
            
              
              


         </div>

         <div class="input-container mt-3"  >
            <form >
            <label class="custom-file-upload">
              <input
                type="file"
                accept="image/*"
                multiple
                (change)="handleFileInput($event)"
              
              />
              <span>import Images</span>
            </label>
            <button   *ngIf="imageSubmitBtnShow" mat-raised-button (click)="OnSubmit()"   color="primary"   >Add images</button>
        </form>
          </div>
          <h1    *ngIf="imageSubmitBtnShow">Selected Images</h1>
         <div class="row row-cols-1 row-cols-md-2 g-4 p-2"  #cardContainer>
            <div  *ngFor="let cardValue of cardValues" class="col-md-4 col-sm-6 col-lg-3 col-12 ">
              <div class="card">
                <img  [src]="cardValue.url" class="card-img-top"  height="350px" alt="...">
                 
              </div>
            </div>
         

          </div>

          <h1>Gallery Images</h1>

          <div class="row">
            <div *ngFor="let img of galleryImgs;let i = index"  class="col-md-3 mb-2">
              <div class="card">
                <img height="250px" src="http://localhost:4000/public/{{img}}" class="card-img-top" alt="...">
                <div class="card-img-overlay ">
                  <div class="dropdown">
                    <div class="dropdown-toggle dots" data-bs-toggle="dropdown" aria-expanded="false">
                      &#8226;&#8226;&#8226;
                    </div>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item "  routerLinkActive="router-link-active" >Add to Main</a></li>
                      <li><a class="dropdown-item "  routerLinkActive="router-link-active" >Add as Banner</a></li>
                      <li><a class="dropdown-item text-danger">remove image</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
           
           
           
          </div>
          




          
    </div>
</div>

