<app-nav></app-nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header bg-success text-white">
                    <h1>Booking Successful!</h1>
                </div>
                <div class="card-body">
                    <p class="card-text">Your room at XYZ Resort has been successfully booked.</p>
                    <p class="card-text">Thank you for choosing our resort. We look forward to welcoming you.</p>

                    <p>checkin  :  {{checkIn}} </p>
                    <p>checkout :  {{checkOut}} </p>
                </div>
                <div class="card-footer">
                    <a routerLink="/home"   class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

