<app-nav *ngIf="!FromAdmin"  ></app-nav>

<div class="container">
  <div class="p-5">
    <div class="card-container row">
      <div *ngFor="let item of cardItems; let i = index" class="card col-lg-3 col-md-4 col-sm-12 mb-4">
        <div style="width: 100%; height: 200px; background-color: rgb(72, 72, 205)">
          <h3 style="text-align: center; font-size: xx-large;" class="text-light mt-2">
            <strong>{{ item.title }}</strong>
          </h3>
          <h1 style="text-align: center; color: rgb(240, 240, 245);"><strong>₹{{ item.price }}</strong></h1>
          <h2 *ngIf="item.type==='Monthly'" style="text-align: center;" class="text-light">{{ item.duration }} Month</h2>
          <h2 *ngIf="item.type!=='Monthly'" style="text-align: center;" class="text-light">{{ item.duration }} Year</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.description }}</h5>
        </div>
        <div class="card-footer">
          <button mat-raised-button color="primary"  (click)="makeSubcription(item._id,item.price)" >Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
