<div class="wrapper">
    <app-nav></app-nav>
     <div class="container">
      <div class="row">
        <h3>Bookings</h3>
        <div  *ngFor="let item of bookingData;let i = index" class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Booking : {{i+1}} </h5>
              <p class="card-text"> name:  {{item.name}} </p>
              <p class="card-text"> checkin : {{item.checkIn}} </p>
              <p class="card-text"> checkOut : {{item.checkOut}} </p>
              <span *ngIf="item.placed==true" >
                <a  class="btn btn-primary me-2">view</a>
              <a  class="btn btn-danger"  (click)="cancelBooking(item._id)" >Cancel</a>
              </span>
              <span *ngIf="item.placed==false" >
              <h5 style="color: red;" >Booking currently cancelled</h5>
              </span>
              

            </div>
          </div>
        </div>
      </div>
        
</div>
</div>


