
<div class="wrapper mt-5"   >
    
    <div class="logo ">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk0Yhr1E1ImuScIrIf-B4_n6Mv8KfYUe9j0Q&usqp=CAU" alt="">
    </div>
    <div class="text-center mt-3 name">
       {{title}}
    </div>
    <form   [formGroup]="loginData" (ngSubmit)="onSubmit()" class="p-3 mt-3">
        
    
   
      <div class="form-field d-flex align-items-center mb-0">
        <span class="far fa-user"></span>
        <input type="email" name="email" id="userName"  formControlName="email" placeholder="email">
    </div>
    <p style="text-align: center; font-size: x-small; color: red;"  *ngIf="loginData.get('email')?.invalid&& loginData.get('email')?.touched " >please validate</p>
  
   
        <div class="form-field d-flex align-items-center mb-0">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd"  formControlName="password"   placeholder="Password">
        </div>
        <p style="text-align: center; font-size: x-small; color: red;"  *ngIf="loginData.get('password')?.invalid&& loginData.get('password')?.touched " >please validate</p>
       
      
     
      <button [disabled]="loginData.invalid" class="btn mt-3">sign in</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a (click)="register()">Register</a>
    </div>
  </div>
