
<section>

  <div class="container" >  
      <div class="col-lg-4 col-md-3 col-sm-2"></div>
      <div class="col-lg-4 col-md-6 col-sm-8 m-4">
          <div class="logo">
              <!-- <img src="https://s16.postimg.org/3wg150ysl/download.jpg"  alt="Logo"  >  -->
              <h1 class="singtext" >Ecovibe</h1>
          </div>
          <div class="row loginbox">                    
              <div class="col-lg-12">
                  <span class="singtext" >Sign in </span>   
              </div>
    <form  [formGroup]="loginData" (ngSubmit)="onSubmit()" >


      
              <div class="col-lg-12 col-md-12 col-sm-12">
                  <input class="form-control" type="text" formControlName="email" placeholder="Please enter your email" >
  
      <p style="text-align: center; font-size: x-small; color: red;"  *ngIf="loginData.get('email')?.invalid&& loginData.get('email')?.touched " >please validate</p>
  
              </div>
              <div class="col-lg-12  col-md-12 col-sm-12">
                  <input class="form-control" type="password" formControlName="password" placeholder="Please enter password" >
                  <p style="text-align: center; font-size: x-small; color: red;"  *ngIf="loginData.get('password')?.invalid&& loginData.get('password')?.touched " >please validate</p>
  
              </div>
             
              <div class="col-lg-12  col-md-12 col-sm-12">
               
                  <input  [disabled]="loginData.invalid"  class="btn  submitButton" type="submit" type="submit" value="submit">
              </div>                     
          </form>
          </div>
          <div  class="row forGotPassword">
              <a  routerLink="/forget"  >Forgot Password? </a> <a href="/register">Register?</a>
            
          </div>
          <br>                
          <br>

  
      </div>
      <div class="col-lg-4 col-md-3 col-sm-2"></div>
  </div>
  </section>





 
