<div class="wrapper"   >
    <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk0Yhr1E1ImuScIrIf-B4_n6Mv8KfYUe9j0Q&usqp=CAU" alt="">
    </div>
    <div class="text-center mt-4 name">
  
    </div>
    <form    class="p-3 mt-3">
        
    
   
      <div class="form-field d-flex align-items-center mb-0">
        <span class="far fa-user"></span>
        <input type="email" name="email" id="userName"  formControlName="email" placeholder="email">
       
    </div>
  
   
        <div class="form-field d-flex align-items-center mb-0">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd"   placeholder="Password">
        </div>
       
      
     
      <button class="btn mt-3">sign in</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a (click)="register()">Register</a>
    </div>
  </div>
