/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';



body::-webkit-scrollbar {
    display: none;
    
  }


html, body { height: 100%;
 
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.motion-slow {
  transition: padding-left 1s ease; /* Adjust the duration and timing function as needed */
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
  overflow-x: hidden;
}
