<div class="chat-list">
    <h2><strong>CHATS</strong></h2>
    <div class="chat" routerLink="/chatpage" >
        <img  src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User 1" class="profile-pic">
        <div class="chat-info">
            <h3 class="user-name">User 1</h3>
            <p class="last-message">Hello there!</p>
            <span class="timestamp">10:30 AM</span>
        </div>
    </div>
    <div class="chat">
        <img  src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User 1" class="profile-pic">
        <div class="chat-info">
            <h3 class="user-name">User 1</h3>
            <p class="last-message">Hello there!</p>
            <span class="timestamp">10:30 AM</span>
        </div>
    </div>
    <div class="chat">
        <img  src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User 1" class="profile-pic">
        <div class="chat-info">
            <h3 class="user-name">User 1</h3>
            <p class="last-message">Hello there!</p>
            <span class="timestamp">10:30 AM</span>
        </div>
    </div>
    <div class="chat">
        <img  src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User 1" class="profile-pic">
        <div class="chat-info">
            <h3 class="user-name">User 1</h3>
            <p class="last-message">Hello there!</p>
            <span class="timestamp">10:30 AM</span>
        </div>
    </div>
    <!-- Add more chat items here -->
</div>