<div class="wrapper">
    <app-nav></app-nav>
    <div class="container">
<div style="display: flex; justify-content: end; " >
    <button (click)="openAddRooms()"  mat-raised-button color="primary"  class="mt-1" >Add room</button>
</div>

        <table class="table">
            <thead>
              <tr>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Capacity</th>
                <th>Price Per Night</th>
                <th>Amenities</th>
                <th>Available</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>101</td>
                    <td>Standard</td>
                    <td>2</td>
                    <td>$150</td>
                    <td>TV, Wi-Fi, AC</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>102</td>
                    <td>Deluxe</td>
                    <td>4</td>
                    <td>$250</td>
                    <td>TV, Wi-Fi, AC, Mini Bar</td>
                    <td>No</td>
                  </tr>
            </tbody>
          </table>
          
    </div>
</div>




