<div class="wrapper">
    <app-nav></app-nav>
    <div class="container">
<div style="display: flex; justify-content: end; " >
    <button (click)="openAddRooms()"  mat-raised-button color="primary"  class="mt-1" >Add room</button>
</div>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Room Number</th>
          <th>Room Type</th>
          <th>Capacity</th>
          <th>Price Per Night</th>
          <th>Amenities</th>
          <th>max.Adults</th>
          <th>max.Childs</th>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of rooms">
          <td>{{ item.roomNumber }}</td>
          <td>{{ item.Type }}</td>
          <td>{{ item.capacity }}</td>
          <td>$ {{ item.pricePerNight }}</td>
          <td>{{ item.amenities }}</td>
          <td>{{ item.adults }}</td>
          <td>{{ item.childrens }}</td>
          <td *ngIf="item.available === true">Yes</td>
          <td *ngIf="item.available !== true">Booked</td>
        </tr>
      </tbody>
    </table>
  </div>
  
          
    </div>
</div>




