<app-nav></app-nav>

<div class="container ">


    <mat-card class="example-card  "  style="display: flex; justify-content: center;">
<h1 class="center" >Conguratulations!</h1>
    
      <p class="center" >Your approval request for a new space on our website has been successfully approved by our admin.</p>
      <p  class="center" >Now you can purchase your monthly or yearly  subcription  </p>
  <div style="display: flex; justify-content: center;" >
    <button mat-button color="primary">Login</button>
    <button mat-button color="accent">Subscribe</button>
  </div>
   
    </mat-card>
  </div>