.container {
    margin-top: 100px;
    text-align: center;
  }
  .success-icon {
    font-size: 100px;
    color: #28a745;
  }
  .success-message {
    font-size: 24px;
    margin-top: 20px;
    color: #28a745;
  }

  .center{
    text-align: center;
  }
