.poppup-div {
    width: 450px;
    height: 30%;
    position: absolute;
    background-color: aliceblue;
    top: 30%;
    left: 30%;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}