<div class="wrapper">
    <app-side-bar (sidebarToggled)="sidebarToggled($event)"  ></app-side-bar>

<div class="container-fluid motion-slow"   [style.paddingLeft.px]="values ? 50 : 200">
    <div class="container mt-5">
      <div class="table-responsive" >
        <h1>Resort Information</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Resort ID</th>
              <th>Name</th>
              <th>Location</th>
              <th>Hoster</th>
              <th>Mobile No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resortData;let i= index" >
              <td> {{i+1}} </td>
              <td> {{item.resortName}} </td>
              <td>{{item.location}} </td>
              <td> {{item.hoster_id.name}} </td>
              <td> {{item.mobile}} </td>
              <td *ngIf="item.is_approved===true" ><button   (click)="blockResort(item._id)" class="btn btn-danger">Block</button></td>
              <td *ngIf="item.is_approved===false" ><button   (click)="unblockResort(item._id)" class="btn btn-success">unblock</button></td>
            </tr>
            
          </tbody>
        </table>
        </div>
      </div>
</div>


</div>
